@use '../config/variable' as *;
@use '../config/mixin' as *;
@use '../components/cards/_card-features.scss';

.section-features{
    @include imageRatio(448,448,true,contain);

    &__info-container{
        margin-bottom: 48px;
    }

    @media only screen and (max-width: 767.98px) {
        .section-padding{
            padding-bottom: 42px;
        }
        &__image-container{
            margin-bottom: 32px;
        }
        &__info-container{
            margin-bottom: 16px;
        }
    }
}