@use '../../config/_mixin.scss' as *;
@use '../../config/_variable.scss' as *;

.card-whyus{
    @include imageRatio(48,48,true,contain);
    height: 100%;
    position: relative;
    padding: 32px 24px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(80px);
    border-radius: 8px;

    &__image-container{
        margin-bottom: 20px;
    }
    &__title{
        margin-bottom: 8px;
        font-family: $secondary-font;
        font-weight: 700;
        font-size: 24px;
    }
    &__description{
        font-family: $primary-font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.25px;
        opacity: 0.8;
    }

    @media only screen and (max-width: 1199.98px) {
        &__title{
            font-size: 22px;
        }
    }

    @media only screen and (max-width: 991.98px) {
        &__title{
            font-size: 20px;
        }
    }

    @media only screen and (max-width: 767.98px) {
        &__title{
            font-size: 18px;
        }
    }

}