@use "../config/variable" as *;
@use "../config/mixin" as *;
.footer-social-icon {
	display: inline-block;
	list-style: none;
	padding: 0;
	&__item {
		display: inline-block;
		&:last-child {
			margin-right: 0px;
		}
	}
	&__link {
		display: inline-block;
		position: relative;
		color: $primary;
		margin-right: 8px;
		width: 33px;
		height: 33px;
		font-size: 20px;
		text-decoration: none;
		text-align: center;
		transition: all 0.4s ease-in-out;
		border-radius: 100px;

		path{
			transition: 0.4s ease;
		}
		&:hover {
			color: $secondary;
			background-color: $primary;
			path{
				fill: $blue-100;
			}
		}
	}
}
